/* ButtonStyles.css */
.hero {
    padding: 1rem;
    display: flex;
    justify-content: space-around // flex-direction: column;
}

.heroImage {
    /* Your image styles */
    width: 90%;
    /* Ensures the image doesn't exceed its container */
}

.heroTextDiv {
    width: 50%;
}

.heroDiv {
    /* Your image styles */
    width: 40%;
    /* Ensures the image doesn't exceed its container */
}


.A {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    color: #ffffff;


    @media (min-width: 768px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @media (min-width: 1024px) {
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }

    .section {
        margin: 20px;
    }

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: 0px 10%;
    }

    .button1 {
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;
    }

    .button1:hover {
        background: #4691A4;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    .button2 {
        background: #4B99AD;
        padding: 8px 15px 8px 15px;
        border: none;
        color: #fff;

    }

    .button2:hover {
        background: #4691A4;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}